SESSION_SECRET=change_this_secret
TELEGRAM_BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
TELEGRAM_BOT_NAME=YourBotName
VPN_NAME=Djoker: Shadow Net
VPN_SERVER_HOST=213.165.38.205
VPN_SERVER_PORT=2053
VPN_PROTOCOL=wireguard
XUI_API_URL=https://your-3x-ui.example.com
XUI_API_KEY=your_api_key
XUI_API_USER_PATH=/api/v1/get-user
PORT=3000
